<% if @task %>
	<form action="/<%= @task.id %>" method="post" id="edit">
		<input type="hidden" name="_method" value="put">
		<textarea name="summary"><%= @task.summary %></textarea>
		<select name="status">
			<% @statuses.each do |status| %>
				<% if status.id == @task.status %>
					<option selected="selected" value=<%= status.id %>><%= status.status %></option>
				<% else %>
					<option value=<%= status.id %>><%= status.status %></option>
				<% end %>
			<% end %>
		</select>
		<input type="submit">
	</form>
	<p><a href="/<%= @task.id %>/delete">Delete</a></p>
<% else %>
	<p>Task not found.</p>
<% end %>
