<div class="row-fluid">
	<div>
		<br>
		<section id="add">
			<form action="/" method="post">
				<fieldset>
					<textarea rows="3" name="summary" placeholder="Create a new task&hellip;"></textarea>
					<button type="submit" class="btn">Create</button>
				</fieldset>	
			</form>
		</section>
	</div>
	<div>
		<section id="tasks">
			<div>
					<h3><a href="/">Tasks</a></h3>
			</div>
			<% @tasks.each do |task|%> 
				<div class="well">
						<div>
							<p><strong>
								<%= task.summary %>
							</p></strong>
						</div>
						<div>
							<p>
								<!-- <span><a href="/<%= task.id %>">[edit]</a></span>  -->
								<span><a class="btn" href="/up/<%= task.id %>">up</a></span> 
								<span><a class="btn" href="/down/<%= task.id %>">down</a></span> 
							</p>
						</div>	
					<br>
					<div>	
						<select name="status">
							<% @statuses.each do |status| %>
								<% if status.id == task.status %>
									<option selected="selected" value=<%= status.id %>><%= status.status %></option>
								<% else %>
									<option value=<%= status.id %>><%= status.status %></option>
								<% end %>
							<% end %>
						</select>
					</div>
					<div>
						<p class="meta">Created At: <%= task.created_at.strftime(fmt='%F %R') %></p>
					</div>			
				</div>
			<% end %>
		</section>	
	</div>
</div>