<section id="add">
	<form action="/" method="post">
		<textarea name="content" placeholder="Type here to create a new task...&hellip;"></textarea>
		<input type="submit" value="Create!">
	</form>
</section>

<% @tasks.each do |task| %>
	<article <%= 'class="complete"' if task.complete %>>
		<p>
			<%= task.summary %>
			<span><a href="/<%= task.id %>">[edit]</a></span>
		</p>
		<!-- <p class="meta">Status: <%= task.status %></p> !-->
		<p class="meta">Created: <%= task.created_at %></p>
	</article>
<% end %>
